@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<div class="text-center">
    <h1 class="display-3">Welcome to MusicSpot</h1>
</div>
<div class="fit">
    <img src="./Images/music-colour-splash.jpg" class="d-block w-100" alt="...">
</div>
<div class="text-center">
    <h4 class="display-6 mb-4" >Best place for your music collection!</h4>
</div>
