@model MusicSpot.Data.Models.Album

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Album</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Format" class="control-label"></label>
                <input asp-for="Format" class="form-control" />
                @*<select asp-for="Format" class="form-control" />
                    <option>LP, Album</option>
                    <option>LP, Single</option>
                    <option>CD, Album</option>
                    <option>CD, Single</option>
                    <option>Cassette, Album</option>
                    <option>Cassette, Single</option>*@
                <span asp-validation-for="Format" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MediaCondition" class="control-label"></label>
                <input asp-for="MediaCondition" class="form-control" placeholder="NM, VG+, etc" />
                <span asp-validation-for="MediaCondition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SleeveCondition" class="control-label"></label>
                <input asp-for="SleeveCondition" class="form-control" placeholder="NM, VG+, etc" />
                <span asp-validation-for="SleeveCondition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtistId" class="control-label"></label>
                <select asp-for="ArtistId" class="form-control" asp-items="ViewBag.ArtistId"></select>
            </div>
            <div class="form-group m-1">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-primary m-1" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
